# git ignore file
*~
*.autosave
*.a
*.core
*.moc
*.o
*.obj
*.orig
*.rej
*.so
*.so.*
*_pch.h.cpp
*._resource.rc
*.qm
.#*
*.*#
*.dump
*.debug
.DS_Store
.directory
*.prl
*.app
moc_*.cpp
ui_*.h
qrc_*.cpp
Thumbs.db
desktop.ini
*.res
*.rc

*.pro.user*
*.flc
.*.swp
*.bak
*.old

*.pyc
__pycache__/

*.dll
*.exe

.idea
.vscode

node_modules/

venv/
